#top_bar {
    background: #cc0000;
}
#top_bar a {
    color: white;
    font-family: 'Lobster';
}
#top_bar a:hover {
    color: lightgray;
}
#top_bar .navbar-brand {
    color: black;
    font-size: 1.5rem;
}
#top_bar .navbar-brand:hover {
    color: white;
}
#top_bar .navbar-toggler {
    background-color: #790000;
    color: white;
}
#top_bar #collapsibleNavbar a {
    padding: 0.2rem 2rem;
}


h1, h2, h3 {
    color: #cc0000;
    font-family: 'Lobster';
}

a {
    color: black;
}

.cabeceraModificada {
    color: black;
}

.btn-primary {
    background-color: #cc0000;
    border-color: #cc0000;
}
.btn-primary:hover {
    background-color: #790000;
    border-color: #790000;
}

.modal-header {
    background-color: #cc0000;
}

.modal-title {
    color: white;
}

.close {
    color: white;
}

#eliminar_ingrediente .btn-default {
    background-color: #999a9b;
    color:white;
}

.bg-light {
    background-color: #cc0000 !important;
}

.navbar-light h1 a {
    color: white;
    font-family: 'Lobster';
}

.navbar-light h1 a:hover {
    text-decoration: none;
}

.nav-item a {
    color: black;
    font-family: 'Lobster';
    padding: 10px 10px 10px 20px;
}

.nav-item a:hover {
    text-decoration: none;
}
