<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mesón La Rueda - Platos APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Hojas de estilos  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/platosapp.css' %}" type="text/css">
    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
</head>

<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-md" id="top_bar">        
        <a class="navbar-brand" href="/plato/" id="logo">Meson La Rueda</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fas fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'platosapp:listado_categorias' %}"><i class="fas fa-clipboard-list fa-lg"></i> &nbsp;Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'platosapp:listado_platos' %}"><i class="fas fa-hamburger fa-lg"></i> &nbsp;Platos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'platosapp:listado_familias' %}"><i class="fas fa-box fa-lg"></i> &nbsp;Familias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'platosapp:listado_productos' %}"><i class="fas fa-cheese fa-lg"></i> &nbsp;Productos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
       
        {% block content %}
        {% endblock content%}
    </div>
    
    {% else %}
    <div class="container">
        <div class="d-flex flex-row justify-content-center pt-3">
            <a href="/admin/">Login</a>
        </div>
    </div>
    {% endif %}
</body>
</html>