{% extends 'platosapp/base.html' %}

{% block content %}
    <br />
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row">
                {% if categoria %}
                <h1>{{ categoria.nombre }}</h1>
                {% else %}
                <h1>Nueva categoría de platos</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% if categoria %}
    <form method="POST" action="{% url 'platosapp:categoria' categoria.id %}" id="categoria_form">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
                <br />
            </div>
        </div>
    </form>
    <form method="POST" action="{% url 'platosapp:borrar_categoria' categoria.id %}" id="borrar_form">{% csrf_token %}
    </form>
    {% else %}
    <form method="POST" action="{% url 'platosapp:nueva_categoria' %}" id="categoria_form">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
                <br />
            </div>
        </div>
    </form>
    {% endif %}
    
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-row justify-content-between">
                {% if categoria %}
                <button type="submit" class="btn btn-primary" form="borrar_form">
                    Eliminar &nbsp;<i class="fas fa-times"></i>
                </button>
                {% else %}
                <div></div>
                {% endif %}
                <button type="submit" class="btn btn-primary" form="categoria_form">
                    Guardar &nbsp;<i class="far fa-save"></i>
                </button>
            </div>
        </div>
    </div>
       
<br />
{% endblock content %}