{% extends 'platosapp/base.html' %}

{% block content %}
    <br />
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row">
                {% if familia %}
                <h1>{{ familia.nombre }}</h1>
                {% else %}
                <h1>Nueva familia de productos</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% if familia %}
    <form method="POST" action="{% url 'platosapp:familia' familia.id %}" id="familia_form">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
                <br />
            </div>
        </div>
    </form>
    <form method="POST" action="{% url 'platosapp:borrar_familia' familia.id %}" id="borrar_form">{% csrf_token %}
    </form>
    {% else %}
    <form method="POST" action="{% url 'platosapp:nueva_familia' %}" id="familia_form">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
                <br />
            </div>
        </div>
    </form>
    {% endif %}
    
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-row justify-content-between">
                {% if familia %}
                <button type="submit" class="btn btn-primary" form="borrar_form">
                    Eliminar &nbsp;<i class="fas fa-times"></i>
                </button>
                {% else %}
                <div></div>
                {% endif %}
                <button type="submit" class="btn btn-primary" form="familia_form">
                    Guardar &nbsp;<i class="far fa-save"></i>
                </button>
            </div>
        </div>
    </div>
       
<br />
{% endblock content %}