{% extends 'platosapp/base.html' %}

{% block content %}
<br />
<div class="row">
    <div class="col">
        <div class="d-flex flex-row justify-content-end">
            <form method="GET" action="{% url 'platosapp:nueva_categoria' %}">
                {% csrf_token %}
                <button id="nuevaCategoria_btn" type="submit" class="btn btn-primary btn-sm">
                    Añadir categoría &nbsp;<i class="fas fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex flex-column">
        {% for cat in categorias %}
        <a href="{% url 'platosapp:categoria' cat.id %}" style="padding-left:1rem;text-decoration:none;"><h2>{{ cat.nombre }}</h2></a>
        {% endfor %}
    </div>

</div>
{% endblock %}