{% extends 'platosapp/base.html' %}

{% block content %}
    <br />
    <div class="row">
        <div class="col">
            {% if producto %}
            <h1>{{ producto.nombre }}</h1>
            {% else %}
            <h1>Nuevo producto</h1>
            {% endif %}
        </div>
    </div>
    {% if producto %}
    <form method="POST" action="{% url 'platosapp:producto' producto.id %}" id="producto_form">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
                <br />
            </div>
        </div>
    </form>
    <form method="POST" action="{% url 'platosapp:borrar_producto' producto.id %}" id="borrar_form">{% csrf_token %}
    </form>
    {% else %}
    <form method="POST" action="{% url 'platosapp:nuevo_producto' %}" id="producto_form">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
                <br />
            </div>
        </div>
    </form>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-row justify-content-between">
                {% if producto %}
                <button type="submit" class="btn btn-primary" form="borrar_form">
                    Eliminar &nbsp;<i class="fas fa-times"></i>
                </button>
                {% else %}
                <div></div>
                {% endif %}
                <button type="submit" class="btn btn-primary" form="producto_form">
                    Guardar &nbsp;<i class="far fa-save"></i>
                </button>
            </div>
        </div>
    </div>
<br />
{% endblock content %}